* {
    margin: 0%;
    padding: 0%;
}

body {
    min-height: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer";
}
nav {
    background-color: blue;
    grid-area: nav;
}
header {
    background-color: aqua;
    grid-area: header;
    height: fit-content;
}



main {
    background-color: burlywood;
    grid-area: main;
}

footer {
    background-color: blueviolet;
    grid-area: footer;
}